:host {
    position: sticky;
    margin-top: 2rem;
    bottom: 2rem;
    width: 100%;
}

.chatBox {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    background-color: #FEAE6F;
    border-radius: 15px;
    position: relative;
    text-align: left;
    border: 1px solid hsl(26, 97%, 66%);
    width: 80%;
    left: 4rem;
}

.inputText {
    border: none;
    background: none;
    width: 100%;
    font-size: 24px;
    padding-left: 1rem;
}

.submit {
    border-radius: 15%;
    border: 1px solid transparent;
    background-color: transparent;
    position: relative;
    right: 0;
    margin: 10px;
}

.submit:disabled {  
    img {
        filter: invert(0%) sepia(100%) saturate(20%) hue-rotate(78deg) brightness(88%) contrast(100%);
    }
}

img {
    vertical-align: bottom;
}

input:focus-visible {
    outline-offset: -100px;
}
