:host {
    .messageList {
        display: flex;
        flex: 1 1 0;
        flex-direction: column-reverse;
        justify-content: center;
        height: fit-content;
        margin-bottom: 2rem;
    }
}

.questions {
    background-color: #FEAE6F;
    border-radius: 15px;
    width: 80%;
    left: 4rem;
    position: relative;
    text-align: right;
    margin-top: 10px;
    border: 1px solid hsl(26, 97%, 66%);
}

.responses {
    display: flex;
    align-items: center;
    background-color: #F6DCAC;
    border-radius: 15px;
    width: 80%;
    text-align: left;
    border: 1px solid hsl(39, 83%, 75%);
}